* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
}
button {
    color: white;
}
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('login photo.jpg');
    background-position: center;
    background-size: cover;
    z-index: -1;
}
.wrapper {
    width: 400px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(16, 16, 16, 0.5);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
}
form {
    display: flex;
    flex-direction: column;
}
h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}
.input-field {
    display: flex;
    position: relative;
    border-radius: 3px;
    border-bottom: 2px solid white;
    margin: 15px 0;
}
.input-field label {
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 3px;
    padding: 5px;
    transform: translateY(-50%);
    color: white;
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
}
.input-field input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
}
.input-field input:focus~label,
.input-field input:valid~label {
    font-size: 0.8rem;
    border-radius: 10px;
    top: 10px;
    transform: translateY(-120%);
}
.forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 35px 0;
    color: white;
}
#remember {
    accent-color: white;
}
.forget label {
    display: flex;
    align-items: center;
}
.forget label p {
    margin-left: 8px;
}
.wrapper a {
    color: white;
    text-decoration: none;
}
.wrapper a:hover {
    text-decoration: underline;
}
button {
    background: #0293c3;
    color: white;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 12px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
}
button:hover {
    color: white;
    border-color: #fff;
    background: rgba(30, 49, 121, 0.15);
}
.register {
    text-align: center;
    margin-top: 30px;
    color: white;
}
.cont {
    text-align: center;
    margin-top: 20px;
    color: white;
}
p {
    color: white;
}
.end {
    text-align: center;
    margin-top: 30px;
    color: white;
}
.show-password {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.password-wrapper {
    position: relative;
}
.show-password {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
#google,
#facebook,
#github {
    width: 20px;
    height: 20px;
}
span {
    display: flex;
    justify-content: end;
    cursor: pointer;
}
#countdown{
    display: inline-block;
    justify-content: end;
    cursor: pointer;
}